{% extends "base.html" %}

{% block content %}
    <div class="sixteen columns">
        <div id="tweets-box">
            <div id="tweets-rows"></div>
            <div id="mais-tweets">
                <!--a data-pagina="1" href="#" id="carrega-tweets">Mais Tweets</a-->
            </div>
        </div>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/tweets.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/customRetweet.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            retorna_tweets(1, false);
        });
    </script>
{% endblock script %}


