<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="pt-BR"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="pt-BR"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="pt-BR"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="pt-BR"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <!-- meta equiv="refresh" content="30"-->
    <title>FLISOL Tweets</title>
    <meta name="description" content="Saiba de tudo o que está rolando no FLISOL com esse agregador.">
    <meta name="author" content="Gilson Filho">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base_extended.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
    {% endblock css %}

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114.png">

    <!-- Google Analytics -->
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31082504-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
</head>
<body>
    <!-- Fork project -->
    <a href="http://github.com/gilsondev/flisol-tweets"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
    <div class="container">
        <div class="sixteen columns">
            <a href="{% url tweets:list %}"><h1 id="logo" class="remove-bottom" style="margin-top: 40px"><span>FLISOL Tweets</span></h1></a>
            <hr />
        </div>
        {% block content %}{% endblock content %}

        <div class="sixteen columns" id="footer">
            <hr />
            <span>Impulsionado com <a href="http://python.org">Python</a> e <a href="http://www.djangoproject.com">Django</a></span>
        </div>
    </div>

    {% block script %}
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript">
            var uvOptions = {};
            (function() {
                var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
                uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/Zj4EKO9RsmUYiIAracxyoA.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
            })();
        </script>
        <script type="text/javascript"> 
            var $buoop = {vs:{i:8,f:3.5,o:10.6,s:3.2,n:9}} 
            $buoop.ol = window.onload; 
            window.onload=function(){ 
                 try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
                 var e = document.createElement("script"); 
                 e.setAttribute("type", "text/javascript"); 
                 e.setAttribute("src", "http://browser-update.org/update.js"); 
                 document.body.appendChild(e); 
            } 
        </script> 
    {% endblock script %}
</body>
</html>
