html, body {
    height: 100%;
    background: #f9c667; /* Old browsers */
    background: -moz-linear-gradient(top, #f9c667 0%, #f4880c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f4880c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9c667 0%,#f4880c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9c667 0%,#f4880c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9c667 0%,#f4880c 100%); /* IE10+ */
    background: linear-gradient(top, #f9c667 0%,#f4880c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f4880c',GradientType=0 ); /* IE6-9 */
}


#logo {
    background: url("../img/logo.png") no-repeat;
    width: 265px;
    height: 125px;
    margin: 0 auto;
}

    #logo span {display: none;}

#tweets-box {
    width: 800px;
    min-height: 400px;
    height: auto;
    margin: 0 auto;
    background: white;
    border: 1px solid #606060;
    box-shadow: 2px 3px 6px #606060;
    -webkit-box-shadow: 2px 3px 6px #606060;
    -moz-box-shadow: 2px 3px 5px #606060;

}

#footer {
    margin-top: 25px;
    text-align: center;
    font-size: 90%;
}

    #footer hr {
        margin-bottom: 5px;
    }