/**
* FLISOL Tweets
*
* Standard layout for system
*
* This style override configurations of
* the skeleton stylesheets.
*
* @project FLISOL Tweets
* @version 1.0.0
* @author Gilson Filho
*
* @colordef #f9c565; orange light
* @colordef #f4880c; orange dark
* @colordef #374849; green dark
*/

/*
 * Default tags
 *
 * Define styles for tags of the HTML
 *
 * @section default
 *
 */
html, body {
    height: 100%;
    background: #f9c667; /* Old browsers */
    background: -moz-linear-gradient(top, #f9c667 0%, #f4880c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f4880c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9c667 0%,#f4880c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9c667 0%,#f4880c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9c667 0%,#f4880c 100%); /* IE10+ */
    background: linear-gradient(top, #f9c667 0%,#f4880c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f4880c',GradientType=0 ); /* IE6-9 */
}


/*
 * Header
 *
 * Define styles for header witch logo
 *
 * @section header
 *
 */
#logo {
    background: url("../img/logo.png") no-repeat;
    width: 265px;
    height: 125px;
    margin: 0 auto;
}

    #logo span {display: none;}

/*
 * Tweets
 *
 * Define styles for tweet box and
 * tweet rows, texts and images of the
 * users.
 *
 * @section tweets
 *
 */

#tweets-box {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: auto;
    display: block;
    background: white;
    border: 1px solid #606060;
    box-shadow: 2px 3px 6px #606060;
    -webkit-box-shadow: 2px 3px 6px #606060;
    -moz-box-shadow: 2px 3px 5px #606060;

}

#tweets-rows {
    position: relative;
    min-height: 100%;
    margin-bottom: 9px
}

#mais-tweets {
    width: auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

a#carrega-tweets {
    bottom: 5px;
    width: auto;
    text-decoration: none;
}

    a:hover#carrega-tweets {
        text-decoration: underline;
    }

.carregando {
    list-style: none;
    padding: 10px 40%;
    width: auto;
    font-weight: bold;
}

.tweet {
    position: relative;
    border-bottom: 1px solid #CCC;
    margin: 5px 0 0 0;
    min-height: 60px;
    clear: both;
    display: block;
    outline: none;
}

    .tweet a {
        color: #374837;
        text-decoration: none;
    }

    .tweet a:hover {
        text-decoration: underline;
    }

    .tweet-odd {
        background: #f9c565;
    }

    .tweet-odd a {
        color: #374837;
        text-decoration: none;
    }

    .tweet-odd a:hover {
        text-decoration: underline;
    }

.tweet-image {
    float: left;
    padding: 3px 20px;
    height: 48px;
    overflow: hidden;
    width: 48px;
    margin-top: 3px;
}

.tweet-row {
    display: block;
    position: relative;
    min-height: 60px;
    line-height: 15px;
}

.tweet-user-name {
    font-weight: bold;
    font-size: 70%;
}

.tweet-text {
    padding: 0;
    font-family: Arial,"Helvetica Neue",sans-serif;
    line-height: 19px;
    color: #374837;
    font-size: 110%;
    margin-bottom: 10px;
}

    .tweet-text a {font-weight: bold;}

.tweet-properties {
    padding: 5px;
    text-align: right;
    font-size:80%;
    color: gray;
}

    .tweet-properties ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .tweet-properties ul li {
        display: inline;
        margin: 0 10px; 
    }

    .tweet-properties .tweet-date {
        margin-right: 10px;
    }


/*
 * Footer
 *
 * Define styles for footer
 *
 * @section footer
 *
 */

#footer {
    margin-top: 25px;
    text-align: center;
    font-size: 90%;
}

    #footer hr {
        margin-bottom: 5px;
    }
