/**
* FLISOL Tweets
*
* Standard layout for system
*
* This style override configurations of
* the skeleton stylesheets.
*
* @project FLISOL Tweets
* @version 1.0.0
* @author Gilson Filho
*
* @colordef #f9c565; orange light
* @colordef #f4880c; orange dark
* @colordef #374849; green dark
*/

/*
 * Default tags
 *
 * Define styles for tags of the HTML
 *
 * @section default
 *
 */
html, body {
    height: 100%;
    background: url("../img/bg.png");
}


/*
 * Header
 *
 * Define styles for header witch logo
 *
 * @section header
 *
 */
#logo {
    background: url("../img/logo.png") no-repeat;
    width: 265px;
    height: 125px;
    margin: 0 auto;
}

    #logo span {display: none;}


/*
 * Footer
 *
 * Define styles for footer
 *
 * @section footer
 *
 */

#footer {
    margin-top: 25px;
    text-align: center;
    font-size: 90%;
}

    #footer hr {
        margin-bottom: 5px;
    }